.container {
  font-size: calc(0.875 * var(--yxt-base-font-size));
  line-height: calc(1.25 * var(--yxt-base-font-size));
  color: #71717A;
  text-align: center;
  margin: auto;
}

.location {
  font-weight: 600;
}

.button {
  color: var(--yxt-color-brand-primary);
  cursor: pointer;
  
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}